<% @user = User.new %>
<div class="login-wrapper">
  <%= render 'application/flash' %>
  <div class="login-form">
    <h2>ログイン</h2>
    
    <%= form_for(@user, url: login_path) do |f| %>
    
    <div class="field">
      <%=f.label :email, "メールアドレス"%>
      <%=f.text_field :email, class: "form-control" %>
    </div>
    
    <div class="field">  
      <%=f.label :password, "パスワード" %>
      <%=f.password_field :password, class: "form-control" %>
    </div>
      
      <div class="submit-btn">
        <%= f.submit "ログイン", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>